h1 {
  text-align: center;
  margin: 30px;
}

.characters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 80%;
  margin: auto;
}

.character {
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.characters img {
  width: 100%;
  height: auto;
}